.slider{
  //background: url('img/sprite.svg#slider-elef') center left no-repeat var(--stroke);
  background: url('../img/sprite.svg#slider-elef') center left no-repeat var(--stroke);
  background-size: auto 93%;
  .swiper{
    overflow: hidden;
    width: 100%;
  }
  .swiper-slide{
    box-sizing: border-box;
    .swiper-slide-wrap{
      aspect-ratio: 1290 / 600;
      display: flex;
      //display: grid;
      //grid-template-columns: 1fr auto;
      align-items: center;
      justify-content: space-between;
      @include media((
              gap: (all: 30px, sm: 15px),
      ));

      padding-top: 30px;
      padding-bottom: 30px;
    }

    .text-container{
      @include media((
              width: (all: 47%, lg: 80%),
      ));

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 45px;
      @include media((
              gap: (all: 20px, sm: 15px),
      ));
      .title{
        font-family: "Montserrat-my", 'Montserrat-my Fallback';
        font-size: betterClamp(16, 45);
        line-height: 1.1;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--text-color-dark);

        text-overflow: ellipsis;
        overflow: hidden;
      }
      .text{
        font-family: "Montserrat-my", 'Montserrat-my Fallback';
        line-height: 130%;
        font-size: betterClamp(14, 25);
        color: var(--text-color-dark);

        text-overflow: ellipsis;
        overflow: hidden;
      }
      .button{
        @include media((
                margin-top: (all: 43px, lg: 30px, md: 20px, sm: 10px),
                width: (all: 220px, sm: 200px),
        ));
      }
    }

    .img-container {
      position: relative;
      display: flex;

      max-width: var(--img-width, 645px);
      max-height: var(--img-height, 540px);
      aspect-ratio: var(--aspect-ratio, 645/540);
      width:100%; // fix max-width bug if parent display:flex

      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;
      }
    }
  }
  .nav-blocks-wrapper{
    position: relative;
  }
  .nav-blocks{
    @include media((
            bottom: (all:30px, sm: 15px),
    ));
    position: absolute;

    left: 15px;
    @media only screen and (max-width: 575px) {
      left: 0;
      right: 0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
  }
  .swiper-pagination{
    width: auto!important;
    position: relative;
    bottom: 0!important;
    left: auto!important;
    display: flex;
    justify-content: center;
    min-width: 100px;

  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: var(--text-color);
    opacity: 1;
    transition: background 0.1s ease-in-out;
    &:hover{
      background: var(--text-color-dark);
    }
    &.swiper-pagination-bullet-active{
      background: var(--text-color-dark);
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    position: relative;
    top: 0;
    right: auto;
    left: auto;
    margin-top: 0;

    width: 18px;
    height: 30px;
    svg use{
      fill: var(--text-color);
      transition: fill 0.1s ease-in-out;
    }
    &:after{
      display: none;
    }
    &:hover{
      svg use{
        fill: var(--accent-color);
      }
    }
    &:active{
      svg use{
        fill: var(--text-color);
      }
    }
  }
  .swiper-button-next{
    transform: scale(-1, 1)
  }
}