.slider{
  background-color: var(--stroke);
  .swiper-slide{
    box-sizing: border-box;
    .swiper-slide-wrap{
      aspect-ratio: 1290 / 630;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      @include media((
              gap: (all: 30px, sm: 15px),
      ));

      padding-top: 30px;
      @include media((
              padding-bottom: (all:30px, md: 55px),
      ));
    }

    .text-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media((
              gap: (all: 30px, sm: 15px),
      ));

      .text-container2{
        display: flex;
        flex-direction: column;
        @include media((
                gap: (all: 30px, sm: 15px),
                width: (all: 630px, lg: 420px, md: 310px, sm: 250px, xs: auto),
        ));
      }
      .title{
        font-size: betterClamp(18, 64);
        line-height: 1.1;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--text-color-dark);
      }
      .text{
        font-weight: 300;
        font-size: betterClamp(16, 25);
        line-height: 1.2;
      }
    }

    .img-container-wrap{
      position: relative;
      aspect-ratio: 630 / 530;
    }

    .img-container {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .nav-blocks{
    @include media((
            bottom: (all:30px, sm: 15px),
    ));
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
  }
  .swiper-pagination{
    width: auto!important;
    position: relative;
    bottom: 0!important;
    left: auto!important;
    display: flex;
    justify-content: center;
    min-width: 100px;

  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: var(--text-color);
    opacity: 1;
    transition: background 0.1s ease-in-out;
    &:hover{
      background: var(--text-color-dark);
    }
    &.swiper-pagination-bullet-active{
      background: var(--text-color-dark);
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    position: relative;
    top: 0;
    right: auto;
    left: auto;
    margin-top: 0;

    width: 18px;
    height: 30px;
    path{
      transition: fill 0.1s ease-in-out;
    }
    &:after{
      display: none;
    }
    &:hover{
      path{
        fill: var(--text-color);
      }
    }
    &:active{
      path{
        fill: var(--text-color-dark);
      }
    }
  }
  .swiper-button-next{
    transform: scale(-1, 1)
  }
}