@media (prefers-reduced-motion: no-preference) {

  // img-container (animate with transition)
  //.catalog-advantage-variant10 .item .img-container{
  //  visibility: hidden;
  //}
  //
  //.animate-img-start{
  //  opacity: 0;
  //  transform: translateX(-100px);
  //
  //  // при скрытии элементов делаем это быстро и без задержек
  //  transition: all ease .2s;
  //  transition-delay: 0s;
  //}
  //.animate-img-end{
  //  visibility: visible!important;
  //  opacity: 1;
  //  filter: blur(0);
  //  transform: translateX(0);
  //
  //  transition-property: all;
  //  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  //  transition-delay: calc(200ms * var(--anim-order, 0));
  //  @media only screen and (max-width: 767px) {
  //    transition-delay: 0s;
  //  }
  //  transition-duration: .5s;
  //}

  // catalog-advantage-variant10 img-container (animate with keyframes)
  // catalog-advantage-variant11 img-container (animate with keyframes)
  .catalog-advantage-variant10 .img-container{
    //visibility: hidden;
    opacity: 0;
  }
  .backInLeft {
    animation-name: backInLeft;
    animation-duration: 1s;
    animation-delay: calc(200ms * var(--anim-order, 0));
    @media only screen and (max-width: 767px) {
      animation-delay: 0s!important;
      /* после postcssSortMediaQueries
       animation-delay с задержкой перекрывает animation-delay: 0s
       из-за особенностей объединения @media (prefers-reduced-motion: no-preference) и @media only screen and (max-width: 767px)
       поэтому исп-ся important
       */
    }

    animation-fill-mode: both;
    //visibility: visible!important;
    opacity: 1;
  }
  @keyframes backInLeft {
    0% {
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }

    80% {
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  // catalog-advantage-variant10 item (animate with keyframes)
  // catalog-advantage-variant11 item (animate with keyframes)
  .catalog-advantage-variant10 .text-container{
    visibility: hidden;
  }
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: calc(200ms * var(--anim-order, 0));
    @media only screen and (max-width: 767px) {
      animation-delay: 0s!important;
    }

    animation-fill-mode: both;
    visibility: visible!important;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  //catalog-advantage-variant12 item
  .catalog-advantage-variant12 .item{
    visibility: hidden;
  }
  .animate-item2-start{
    opacity: 0;
    transform: translateX(-100px);

    // при скрытии элементов делаем это быстро и без задержек
    transition: all ease .2s;
    transition-delay: 0s;
  }
  .animate-item2-end{
    visibility: visible!important;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

    transition-property: all;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: calc(200ms * var(--anim-order, 0));
    @media only screen and (max-width: 767px) {
      transition-delay: 0s!important;
    }
    transition-duration: .5s;
  }

  .catalog-advantage-variant11 .item{
    visibility: hidden;
  }
  .catalog-advantage-variant11 .img-container{
    opacity: 0;
  }

  .stages__item{
    visibility: hidden;
  }
}