//@media (prefers-reduced-motion) {
//  .anim-hidden{
//    transition: none;
//  }
//}

@media (prefers-reduced-motion: no-preference) {
  .anim-hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .anim-show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .anim-hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
  }

  .anim-show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

//.logo{
//  &:nth-child(2){
//
//  }
//  &:nth-child(3){
//
//  }
//  &:nth-child(4){
//
//  }
//}
