%list-unstyled {
  margin-top: 0;
  margin-bottom: 0; // for bootstrap
  padding-left: 0;
  list-style: none;
}

%img-centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

//Кастомный скроллбар на стилях
//- стрелки есть только в firefox и только такого цвета. Закруглений там не сделать.
//- А во всех остальных браузерах стрелок нет, но есть закругления.
//- Еще в firefox кастомный скролл только блоков, а у body обычный
%scrollbar {
  $scrollbarWidth: 20px;
  $scrollbarBg: #15283a;
  $scrollbarThumb: #2a3a5b;
  scrollbar-width: $scrollbarWidth;
  scrollbar-color: $scrollbarThumb $scrollbarBg;
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbarBg;
    //border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarThumb;
    border-radius: 10px;
    border: 3px solid $scrollbarBg;

  }
}

@mixin row-mini($row-mini-gutter: 12px) {
  margin-left: - calc($row-mini-gutter / 2);
  margin-right:  - calc($row-mini-gutter / 2);
  > .col,
  > [class*="col-"],
  > [class*="col15-"]{
    padding-left:  calc($row-mini-gutter / 2);
    padding-right:  calc($row-mini-gutter / 2);
  }
}

@mixin tovars-counter($height: 35px) {
  display: inline-flex;
  height: $height;
  font-size: 14px;
  input[type=number] {
    flex-grow: 1;

    width: 100%;
    min-width: 30px;
    height: inherit;
    text-align: center;
    background: #f7f7f7;

    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    border-radius: 0;

    -moz-appearance: textfield;
    //@extend %outline-none;
    &:focus-visible{
      outline: none;
      box-shadow: none;
      border: 1px solid #869791;
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .minus,
  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;

    width: 32px;
    height: inherit;
    text-decoration: none;

    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    color: #888888;
    border: 1px solid #e5e5e5;
    background: #fff;
    &:hover {
      color: var(--text-color);
      border-color: #869791;
    }
    &:active{
      color: #888888;
      border-color: #e5e5e5;
    }
    &:focus-visible{
      z-index: 1; // https://yadi.sk/i/7KxmdebQypZtZQ
    }
  }
  .minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 10px;
  }
  .plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

// соотношение сторон (миксин устарел, тк используется свойство aspect-ratio)
@mixin aspect-ratio($width, $height) {
  &:before {
    content: "";
    display: block;

    $padding: ($height / $width) * 100%;
    $padding_ceil_decimal: ceil($padding * 100)/100; // округляем до сотых (чтоб было одинакове округление в netcat)
    padding-top: var(--img-padding-top, $padding_ceil_decimal);

    //padding-top: ($height / $width) * 100%; // без округления (пять знаков после запятой)
    //padding-top: floor(($height / $width) * 100%); // округлят до целых в меньшую сторону (иногда у картинки может возникнуть тонкий отступ в несколько пикселей)
  }
}