/dist/
/html/
/css/
/fonts/
/img/
/js/
/favicon.ico
/manifest.webmanifest
/ftp_settings.js

node_modules/
.vscode/
.idea/
/**/Thumbs.db
/**/*.DS_Store

#netcat files
/ajax/
/classes/
/form_fmc/
/netcat/
/netcat_cache/
/netcat_dump/
/netcat_files/
/netcat_template/
netcat_trash/
/sitemap/
/templates_c/
/yandex_market/
.htaccess
.htpasswd
global.php
index.php
test.php
vars.inc.php
wa.php
watermark_nocopy.php
watermark_nocopy_text.php
watermark_nocopy_text_repeat.php
yandex_f5d467b6c87ad1c1.html
