.catalog-advantage-variant11 {
  .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    .img-container {
      @include media((
              padding: (xs: 0 15px),
      ));
      display: flex;
      margin-left: auto;
      margin-right: auto;

      max-width: var(--img-width, 140px);
      max-height: var(--img-height, 180px);
      aspect-ratio: var(--aspect-ratio, 140/180);
      width:100%; // fix max-width bug if parent display:flex

      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;
      }
      .no-img{
        font-size: 4rem;
      }
      img,
      .no-img{
        transition: all 0.2s linear;
      }

      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 180px;
        height: 50px;
        background: #8B4A0E;
        opacity: 0.45;
        filter: blur(25px);
        z-index: -1;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        border-radius: 100%;
      }
    }
    .text-container{
      position: relative;
      color: #fff;
      text-align: center;

      flex-grow: 1;

      @include media((
              padding: (all: 100px 30px 30px 30px, lg: 55px 15px 15px 15px, md: 100px 30px 30px 30px, sm: 70px 20px 20px 20px, xs: 40px 15px 20px 15px),
              margin-top: (all: -60px, lg: -40px, md: -60px, sm: -50px, xs: -40px),
      ));
      aspect-ratio: 300 / 200;
      transition: box-shadow 0.1s ease-in-out;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        z-index: -2;
      }
      .title {
        font-size: betterClamp(14, 18);
        font-weight: 700;
        line-height: 1.1;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .text {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &:hover{
      .text-container{
        box-shadow: var(--box-shadow);
      }
      .img-container {
        img,
        .no-img{
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
  [class*="col-"]{
    counter-increment: numb;
    .item .text-container{
      &:after{
        content: counter(numb);
        font-family: "Montserrat-my", 'Montserrat-my Fallback';
        font-weight: 700;
        font-size: betterClamp(90, 140);
        color: #FFFFFF;
        opacity: 0.2;
        line-height: 1;

        @include media((
                margin-top: (all: 20px, xs: 10px),
        ));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  a.item{
    text-decoration: none;
    &:hover{
      opacity: .8;
    }
  }
}