.catalog-advantage-variant13 {
  .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 0.1s ease-in-out;
    .img-wrapper{
      @include media((
              padding: (all: 30px 30px 0 30px, sm: 15px 15px 0 15px, xs: 10px 10px 0 10px),
      ));
      background-color: var(--accent-color);
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 19%;
        background-color: var(--bg);
      }
    }
    .img-container {
      position: relative;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      max-width: var(--img-width, 350px);
      max-height: var(--img-height, 130px);
      aspect-ratio: var(--aspect-ratio, 350/130);
      width:100%; // fix max-width bug if parent display:flex
      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;        }
      .no-img{
        font-size: 4rem;
      }

      overflow: hidden;
      img,
      .no-img{
        transition: all 0.2s linear;
      }
    }
    .text-container{
      @include media((
              padding: (all: 20px 30px 30px 30px, sm: 10px 15px 15px 15px, xs: 10px 10px 10px 10px),
      ));
      background-color: var(--bg);
      flex-grow: 1;
      aspect-ratio: 410 / 230;
      .title {
        line-height: 110%;
        font-weight: 700;
        color: var(--text-color-dark);
        font-size: betterClamp(16, 25);
        transition: color 0.1s ease-in-out;

        text-overflow: ellipsis;
        overflow: hidden;
        + .text{
          @include media((
                  margin-top: (all: 13px, sm: 10px, xs: 5px),
          ));
        }
      }

      .text {
        font-size: betterClamp(14, 16);
        line-height: 140%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &:hover{
      box-shadow: var(--box-shadow);
      .img-container  {
        img,
        .no-img{
          transform: scale(1.1, 1.1);
        }
      }
      .title{
        color: var(--accent-color);
      }
    }
  }
  a.item{
    text-decoration: none;
  }
  .gap-30{
    @include media((
            gap: (all: 40px 0, lg: 30px 0, xs: 15px 0),
    ));
  }
  .button-container .button{
    @include media((
            width: (all: 410px, lg: 290px, md: max-content),
    ));
  }
}