.animated-hidden{
  visibility: hidden!important;
}

.animate__animated,
.animated-end{
  visibility: visible!important;
}

.delay-0-2s {
  animation-delay: 0.2s
}
.delay-0-4s {
  animation-delay: 0.4s
}
.delay-0-6s {
  animation-delay: 0.6s
}
.delay-0-8s {
  animation-delay: 0.8s
}
.delay-1s {
  animation-delay: 1s
}


@keyframes smoothly-show-items {
  /* Анимация появления объектов, чтоб не было видно резкого скачка высоты*/
  0% {
    opacity: 0;
    //filter: blur(5px);
  }
  20% {
    opacity: 0;
    //filter: blur(5px);
  }
  100% {
    opacity: 1;
    //filter: blur(0);
  }
}

.catalog-advantage-animate{
  .item{
    visibility: hidden;
  }
  [class*="col-"] {
    &:nth-child(2) {
      .item {
        animation-delay: .2s
      }
    }
    &:nth-child(3) {
      .item {
        animation-delay: .3s
      }
    }
    &:nth-child(4) {
      .item {
        animation-delay: .6s
      }
    }
    &:nth-child(5) {
      .item {
        animation-delay: .8s
      }
    }
    &:nth-child(6) {
      .item {
        animation-delay: 1s
      }
    }
    &:nth-child(7) {
      .item {
        animation-delay: 1.2s
      }
    }
    &:nth-child(8) {
      .item {
        animation-delay: 1.4s
      }
    }
  }
}