.catalog-advantage-variant10 {
  .item {
    height: 100%;
    .img-wrapper{
      background: url('/img/sprite.svg#elef') center no-repeat;
      background-size: cover;
      width: 116px;
      height: 70px;
    }
    .img-container {
      position: absolute;
      top: 25%;
      left: 30%;
      //top: 33px;/**/
      //left: 101px;

      display: flex;

      max-width: var(--img-width, 56px);
      max-height: var(--img-height, 50px);
      aspect-ratio: var(--aspect-ratio, 56/50);
      width:100%; // fix max-width bug if parent display:flex

      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;

        transition: all 0.2s linear;
      }
      .no-img{
        font-size: 4rem;
      }
    }
    .text-container{
      line-height: 1.2;
      .title {
        font-size: betterClamp(14, 18);
        font-weight: bold;
        line-height: 1.1;
        color: var(--text-color-dark);

        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 22px;
        transition: color 0.1s ease-in-out;
        + .text{
          @include media((
                  margin-top: (xs: 5px)
          ));
        }
      }
      a.title{
        display: inline-block;
        text-decoration: none;
      }
      .text {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        @include media((
                margin-top: (all: 10px, xs: 7px)
        ));
      }
    }
    &:hover{
      .img-container img{
        transform: scale(1.2, 1.2);
      }
      .title {
        color: var(--accent-color);
      }
    }
  }
  a.item{
    text-decoration: none;
    display: block;
    //.img-container{
    //  transition: opacity 0.1s ease-in-out;
    //}
    //.title,
    //.text{
    //  transition: color 0.1s ease-in-out;
    //}
    //&:hover{
    //  .img-container {
    //    opacity: 0.8;
    //    transition: opacity 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    //  }
    //  &.item-padding {
    //    box-shadow: 0 0 10px rgba(159, 159, 159, 0.4);
    //    transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    //  }
    //  .title,
    //  .text{
    //    color: var(--accent-color);
    //    transition: color 0.1s ease-in-out;
    //  }
    //}
  }
}