.catalog-advantage-variant1 {
  .item {
    height: 100%;
    .img-container {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      max-width: var(--img-width, 410px);
      max-height: var(--img-height, 280px);
      aspect-ratio: var(--aspect-ratio, 410/280);
      width:100%; // fix max-width bug if parent display:flex

      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;        }
      .no-img{
        font-size: 4rem;
      }
    }
    .text-container{
      line-height: 1.2;
      @include media((
              margin-top: (all: 20px, sm: 10px),
      ));

      .title {
        font-size: betterClamp(14, 18);
        font-weight: bold;

        text-overflow: ellipsis;
        overflow: hidden;
        + .text{
          margin-top: 6px;
        }
      }
      a.title{
        display: inline-block;
        text-decoration: none;
      }
      .text {
        font-size: betterClamp(14, 16);
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  a.item{
    text-decoration: none;
    display: block;
    .img-container{
      transition: opacity 0.1s ease-in-out;
    }
    .title,
    .text{
      transition: color 0.1s ease-in-out;
    }
    &:hover{
      .img-container {
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      }
      &.item-padding {
        box-shadow: 0 0 10px rgba(159, 159, 159, 0.4);
        transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      }
      .title,
      .text{
        color: var(--accent-color);
        transition: color 0.1s ease-in-out;
      }
    }
  }
}