.catalog-advantage-variant6 {
  .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    .img-container {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      max-width: var(--img-width, 330px);
      max-height: var(--img-height, 243px);
      aspect-ratio: var(--aspect-ratio, 330/243);
      width:100%; // fix max-width bug if parent display:flex

      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;
      }
    }
    .text-container {
      flex-grow: 1;
      background: var(--accent-color);
      color: #fff;
      line-height: 1.2;
      @include media((
              padding: (all: 10px 15px, sm: 10px)
      ));
      .name {
        text-overflow: ellipsis;
        overflow: hidden;
        @include media((
                font-size: (all: 18px, xs: 16px)
        ));
        + .text{
          @include media((
                  margin-top: (all: 10px, xs: 5px)
          ));
        }
      }
      .text {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  a.item {
    text-decoration: none;
    .img-container {
      overflow: hidden;
      .no-img,
      img {
        transition: all 0.2s linear;
      }
    }
    &:hover .img-container {
      .no-img,
      img {
        transform: scale(1.1, 1.1);
      }
    }
  }
}