.reviews {
  .item {
    display: block;
    text-decoration: none;
    @include media((
            padding: (all: 30px, md: 20px, sm: 15px, xs: 10px),
            max-width: (425: 300px),
    ));
    background-color: var(--accent-color);
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 67%;
      background-color: var(--bg);
    }

    .img-container {
      position: relative;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      max-width: var(--img-width, 240px);
      max-height: var(--img-height, 410px);
      aspect-ratio: var(--aspect-ratio, 240/410);
      width:100%; // fix max-width bug if parent display:flex
      img{
        margin: auto;

        // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
        width: auto;
        max-height: 100%;        }
      .no-img{
        font-size: 4rem;
      }

      overflow: hidden;
      img,
      .no-img{
        transition: all 0.2s linear;
      }
    }
    &:hover{
      box-shadow: var(--box-shadow);
      .img-container  {
        img,
        .no-img{
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}