::placeholder {
  color: var(--text-color-dark);
}

::selection {
  color: white;
  background-color: var(--text-color);
  //color: var(--text-color-dark);
  //background: var(--accent-color-hover);
}

:focus{
  outline: none;
}
:focus-visible{
  outline: 2px solid #869791;
  outline-offset: 2px;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
  &:hover, &:focus-visible {
    text-decoration: none;
  }
}

a,
input[type='button']{
  transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out, color 0.1s ease-in-out;
}

%button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px; // чтобы при ширине контента меньше ширины кнопки, она сжималась, а не выпирала
  max-width: 100%; // чтобы при ширине контента меньше ширины кнопки, она сжималась, а не выпирала
  @include media((
          font-size: (all: 18px, lg: 16px, sm: 14px),
          min-height: (all: 50px, lg: 44px, sm: 40px),
  ));
  font-weight: 700;
  line-height: 1.1;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  vertical-align: top; // чтобы не было так https://yadi.sk/i/F2hkpOwD9Sg0eA
  border-radius: 0;

  _:-ms-input-placeholder, :root & {
    height: 0; // ie11 align-items: center fix
  }

  svg{
    &:not([class]){
      margin-left: 10px;
    }
    &.left{
      margin-right: 10px;
    }
  }
}

.button {
  @extend %button-base;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  box-shadow: var(--box-shadow-btn);
  svg use{
    fill: #fff;
    transition: fill 0.1s ease-in-out;
  }
  &:hover {
    background-color: var(--accent-color-hover);
    box-shadow: none;
    color: var(--text-color-dark);
    svg use{
      fill: var(--text-color-dark);
    }
  }
  &:active {
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: var(--box-shadow-btn);
    svg use{
      fill: #fff;
    }
  }
}

.button2 {
  @extend %button-base;
  color: #fff;
  background-color: var(--text-color);

  &:hover {
    color: var(--accent-color);
    background-color: var(--text-color-dark);
    svg use{
      fill: var(--accent-color);
    }
  }
  &:active {
    color: #fff;
    background-color: var(--text-color);
    svg use{
      color: #fff;
    }
  }
}

//.button, .button2{
//  &.disabled{
//    opacity: .4;
//    cursor: not-allowed;
//    box-shadow: none;
//    color: rgba(0,0,0,.8);
//    background-color: #E6E6E6;
//    border-color: #E6E6E6;
//  }
//}

.button-container{
  text-align: center;
  //@include media((
  //        margin-top: (all: 10px, md:0)
  //));
}

blockquote{
  @include media((
          margin-left: (all: 30px, sm: 20px),
          padding-left: (all: 20px, sm: 10px),
          border-left: (all: 5px solid #ccc, sm: 3px solid #ccc),
  ));
  font-style: italic;

  p:last-child{
    margin-bottom: 0;
  }
}

.hidden {
  display: none !important;
}

.nowrap,
a.phone{
  white-space: nowrap;
}

address{
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

// для функционала svg иконок netcat6 этот стиль мешает
//img.img-fluid[src$=".svg"]{
//  //width: 100%;
//  height: 100%;
//}

.red-color{
  color: var(--red_color2);
}

.float-start{
  float: left;
}

.float-end{
  float: right;
}

.float-none{
  float: none;
}

input[type='text'],
input[type='file'],
input[type='password'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='number'],
input[type='date'],
select,
textarea{
  padding: 6px 14px;
  border: 1px solid var(--stroke);
  transition: border ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  color: var(--text-color-dark);

  text-overflow: ellipsis;
  overflow: hidden;
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1pt #869791;
  }
}

select{
  background-color: #fff;
  padding: 6px 25px 6px 14px;
  appearance: none;
  background-image: url('../img/sprite.svg#select-arr');
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 11px auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

textarea{
  min-height: 2.5rem;
}

label,
input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
}

input, textarea{
  outline: none;
  &:focus-visible:required:invalid{
    border-color: var(--red_color);
  }
  &:required:valid{
    border-color: green;
  }
}

/*==========  CHECKBOX, RADIO AWESOME ICONS  ==========*/
.input-awesome{
  input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .icon{
    &:before{
      font-family: 'Font Awesome 5 Free';
      transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
    }
  }

  &.checkbox-awesome.variant1{
    label{
      padding-left: 20px;
      position: relative;
      .icon{
        position: absolute;
        margin-left: -20px;
        @include media((
                top: (all: 3px, sm: 1px),
        ));

        width: 14px;
        height: 14px;
        //background: #fff;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 1px;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "\f00c";
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
          color: transparent;
          font-size: 11px;
        }
      }
    }
    input:checked + label .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        color: var(--accent-color);
        transition: color 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        opacity: .6;
        box-shadow: 0 0 0 0.13em #6e6e6e;
      }
    }
    input:disabled:checked + label{
      .icon:before {
        color: #6e6e6e;
      }
    }
  }

  &.checkbox-awesome.variant2{
    label{
      padding-left: 20px;
      position: relative;
      .icon{
        position: absolute;
        margin-left: -20px;
        @include media((
                top: (all: 3px, sm: 1px),
        ));

        width: 14px;
        height: 14px;
        background: #6e6e6e;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 1px;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "\f00c";
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
          color: transparent;
          font-size: 11px;
        }
      }
    }
    input:checked + label .icon{
      background: var(--accent-color);
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        color: #fff;
        transition: color 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      background: var(--accent-color);
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        background: #C5C5C5;
        box-shadow: 0 0 0 0.13em #C5C5C5;
      }
    }
    input:disabled:checked + label{
      .icon{
        background: #C5C5C5;
        :before {
          color: #fff;
        }
      }
    }
  }

  &.checkbox-awesome.variant3{
    label{
      padding-left: 22px;
      position: relative;
      .icon{
        position: absolute;
        margin-left: -22px;
        @include media((
                top: (all: 2px, sm: 1px),
        ));

        width: 16px;
        height: 16px;
        //background: #fff;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 50%;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "\f00c";
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
          color: transparent;
          font-size: 11px;
          position: relative;
          top: 1px;
        }
      }
    }
    input:checked + label .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        color: var(--accent-color);
        transition: color 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        opacity: .6;
        box-shadow: 0 0 0 0.13em #6e6e6e;
      }
    }
    input:disabled:checked + label{
      .icon:before {
        color: #6e6e6e;
      }
    }
  }

  &.checkbox-awesome.variant4{
    label{
      padding-left: 22px;
      position: relative;
      .icon{
        position: absolute;
        margin-left: -22px;
        @include media((
                top: (all: 2px, sm: 1px),
        ));

        width: 16px;
        height: 16px;
        background: #6e6e6e;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 50%;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "\f00c";
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
          color: transparent;
          font-size: 11px;
          position: relative;
          top: 1px;
        }
      }
    }
    input:checked + label .icon{
      background: var(--accent-color);
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        color: #fff;
        transition: color 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      background: var(--accent-color);
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        background: #C5C5C5;
        box-shadow: 0 0 0 0.13em #C5C5C5;
      }
    }
    input:disabled:checked + label{
      .icon{
        background: #C5C5C5;
        :before {
          color: #fff;
        }
      }
    }
  }

  &.radio-awesome.variant1{
    label{
      padding-left: 22px;
      position: relative;
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: -22px;
        @include media((
                top: (all: 2px, sm: 1px),
        ));

        width: 16px;
        height: 16px;
        //background: #fff;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 50%;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background: transparent;
          border-radius: 50%;
        }
      }
    }
    input:checked + label .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        background: var(--accent-color);
        transition: background 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em #869791;
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        opacity: .6;
        box-shadow: 0 0 0 0.13em #6e6e6e;
      }
    }
    input:disabled:checked + label{
      .icon:before {
        background: #6e6e6e;
      }
    }
  }

  &.radio-awesome.variant2{
    label{
      padding-left: 22px;
      position: relative;
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: -22px;
        @include media((
                top: (all: 2px, sm: 1px),
        ));

        width: 16px;
        height: 16px;
        background: #6e6e6e;
        box-shadow: 0 0 0 0.13em #6e6e6e;
        border-radius: 50%;
        transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background: transparent;
          border-radius: 50%;
        }
      }
    }
    input:checked + label .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      background: var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
      &:before {
        background: #fff;
        transition: background 0.1s ease-in-out;
      }
    }
    input:not(:disabled) + label:hover .icon{
      box-shadow: 0 0 0 0.13em var(--accent-color);
      background: var(--accent-color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label .icon{
      box-shadow:
              0 0 0 0.13em #6e6e6e,
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:focus-visible + label:hover .icon{
      box-shadow:
              0 0 0 0.13em var(--accent-color),
              0 0 0 0.23em var(--orange_color);
      transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    }
    input:disabled + label{
      cursor: not-allowed;
      .icon{
        background: #C5C5C5;
        box-shadow: 0 0 0 0.13em #C5C5C5;
      }
    }
    input:disabled:checked + label{
      .icon{
        background: #C5C5C5;
      }
    }
  }
}
/*==========  /CHECKBOX, RADIO AWESOME ICONS  ==========*/