:root {
  --text-color: #7F8082;
  --text-color-dark: #303030;
  --accent-color: #EF7F1A;
  --accent-color-hover: #FF971D;
  --accent-color2: #337ab7;
  --accent-color3: #004b88;
  --stroke: #E7E7E7;
  --bg: #F5F5F7;

  --orange_color: #EF7F1A;
  --red_color: #d9534f;
  --red_color2: #ff5400;
  //--system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}