/*==========  MORE STYLES  ==========*/
.interactive-plan{
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  svg{
    g{
      fill: #fff;
      fill-opacity: .25;
      transition: fill-opacity 0.1s ease-in-out;
      &:hover{
        fill-opacity: .75;
        transition: fill-opacity 0.1s ease-in-out;
      }
    }
  }
}
/*==========  /MORE STYLES  ==========*/
/**/
/**/
