.news-list{
  // плиткой (в виде ячеек)
  &.news-rows{
    .item{
      .img-container {
        display: flex;
        margin-left: auto;
        margin-right: auto;

        max-width: var(--img-width, 545px);
        max-height: var(--img-height, 359px);
        aspect-ratio: var(--aspect-ratio, 545/359);
        width:100%; // fix max-width bug if parent display:flex

        img{
          margin: auto;

          // чтобы вписать в данное соотношение сторон картинку с другим соотношением сторон без искажений
          width: auto;
          max-height: 100%;
        }

        &:hover {
          opacity: 0.8;
        }
      }
      .text-container{
        .title{
          display: inline-block;
          font-weight: bold;
          color: var(--text-color);
          line-height: 1.2;
          @include media((
                  margin-top: (all: 15px, sm: 10px)
          ));
          .h2-title{
            font-size: inherit;
            font-weight: inherit;
            margin-bottom: 0;
          }
        }
        .category{
          display: table;
          padding: 3px;
          background: var(--accent-color);
          font-size: 14px;
          color: #fff;
          border-radius: 4px;
          @include media((
                  display: (sm: none)
          ));
        }
        .date {
          display: table;
          color: #666;
          font-size: 12px;
          @include media((
                  margin-bottom: (sm: 0!important)
          ));
        }
        .text {
          @include media((
                  display: (sm: none)
          ));
        }

        > *:not(:last-child){
          @include media((
                  margin-bottom: (all: 10px, xs:7px),
          ));
        }
      }
    }
  }
}